[run]
branch = True
source =
    fasjson

[paths]
source =
   fasjson
   .tox/*/site-packages/fasjson

[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    fasjson/tests/*
    fasjson/__init__.py
