venv/
venv_*/
/build/
/dist/
*.egg-info/
__pycache__
*.pyc
*.pyo
.tox
*.rpm
*.tar.gz
.vagrant
MANIFEST
.*_cache

# test related
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# docs related
docs/_source
docs/_build
docs/_api

.vscode/
