on:
  push:
    branches:
      - stable
      - dev
  pull_request:
    branches:
      - stable
      - dev

name: Tests

jobs:
  misc_tests:
    name: Misc tests
    steps:
      - uses: actions/checkout@v3
      - name: mark the working directory as safe for Git
        run: |
          mkdir -p /home/runner/work/_temp/_github_home/
          git config --file /home/runner/work/_temp/_github_home/.gitconfig --add safe.directory /github/workspace
      - name: Run tests
        uses: fedora-python/tox-github-action@main
        with:
          tox_env: ${{ matrix.tox_env }}
          dnf_install: krb5-devel openldap-devel git python-distlib
    strategy:
      matrix:
        tox_env:
          - lint
          - format
          - licenses
          - security
          - docs
    runs-on: ubuntu-latest

  unit_test:
    name: Unit tests
    steps:
      - uses: actions/checkout@v3
      - name: mark the working directory as safe for Git
        run: |
          mkdir -p /home/runner/work/_temp/_github_home/
          git config --file /home/runner/work/_temp/_github_home/.gitconfig --add safe.directory /github/workspace
      - name: Run tests
        uses: fedora-python/tox-github-action@main
        with:
          tox_env: ${{ matrix.tox_env }}
          dnf_install: krb5-devel openldap-devel python-distlib
    strategy:
      matrix:
        tox_env:
          - py39-unittest
          - py310-unittest
    runs-on: ubuntu-latest
